body {
    background-color: #E5E5E5;
    min-width: 600px;
}
main {
    position: relative;
    width: 1440px;
    height: 900px;
    max-width: 95%;
    margin: auto;
    background: rgb(245, 244, 244);
    text-align: right;
}
#cj {
    font-weight: bold;
    margin: 18px auto;
}
#menu {
    height: 100%;
    margin: 7px;
}
#dots {
    margin: 15px 15px 15px 60%;
}

.appbar {
    display: inline-flex;
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}
.appbar p {
    font-weight: bold;
    font-size: larger;
    margin-left: 40px;
    
}
.select {
    display: inline-block;
    position: absolute;

    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    background-color: rgb(227, 229, 233);
}
.icon {
    display: flex;
    padding: 7px;
}
.icon:hover {
    background-color: gray;
    cursor: pointer;
}
input:hover {
    background-color: gray;
    cursor: pointer;
}
.bord {
    border-bottom: 1px solid rgb(170, 164, 164);
}

img {
    margin: -1px 6px;
}
.bigger {
    margin-right: 10px;
}
.round {
    height: 15px;
    width: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 0 5px;
}
.cansv {
    padding: 10px 20px 10px 30px;
    margin: 2px;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#a {
    left: 84%;
    top: 10%;
}
#b {
    top: 10%;
    left: 2%;
}
#c {
    left: 2%;
    top: 38%;
}

span {
    margin: 3%;
}
#myCanvas {
 
    image-rendering: pixelated;

    margin: 35px;
    border: 1px solid rgba(88, 88, 88, 0.397);
    background-color: white;
}